:root {
	--mm-size: 500px;
}

.mini-map {
	position: relative;
	margin: 2rem auto;
	width: var(--mm-size);
	height: var(--mm-size);
	max-width: 100vw;
	max-height: 100vw;
	background-size: contain;
	background-image: url("/images/minimap/minimap_bg_psd.png");
	border-radius: 50%;
	overflow: hidden;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: inherit;
		height: inherit;
		max-width: inherit;
		max-height: inherite;
		background-size: inherit;
	}

	&::before {
		background-image: url("/images/minimap/minimap_mid_psd.png");
	}

	&::after {
		background-image: url("/images/minimap/minimap_frame_psd.png");
	}

	& .mini-map_lanes {
		position: relative;
		z-index: 2;
		scale: 1.125;

		& [data-lane-number="1"] { stroke: var(--laneYellowColor); }
		& [data-lane-number="3"] { stroke: var(--laneGreenColor); }
		& [data-lane-number="4"] { stroke: var(--laneBlueColor); }
		& [data-lane-number="6"] { stroke: var(--lanePurpleColor); }
	}

	& .player {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(var(--mm-size) / 14);
		height: calc(var(--mm-size) / 14);
		padding: 2px;
		border-radius: 50%;
		translate: -18px -18px;
		z-index: 2;
		box-shadow: 0 0 3px #000;
		transition: left 1s linear, top 1s linear, scale 0.125s ease-in-out;

		&.dead {
			animation-name: mm_player_dead;
			animation-duration: 5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-direction: normal;
			z-index: 0;
			pointer-events: none;
		}

		&.respawning {
			transition: none;
		}

		&:hover {
			z-index: 3;
			scale: 1.4;
		}

		&.team0 {
			background: var(--team1Color);
		}

		&.team1 {
			background: var(--team2Color);
		}
	}
}

.mini-map_player {
	width: calc(var(--mm-size) / 14);
	height: calc(var(--mm-size) / 14);
	padding: 2px;
	border-radius: 50%;

	&.team0 {
		background: var(--team1Color);
	}

	&.team1 {
		background: var(--team2Color);
	}
}

@keyframes mm_player_dead {
	0% {
		filter: saturate(1);
		opacity: 1;
	}

	25% {
		filter: saturate(0.5);
		opacity: 0.75;
	}
	
	100%
	{
		filter: saturate(0.5);
		opacity: 0;
	}
	
}
