[data-id=CitadelPostGameScoreboard] {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	vertical-align: top;
	font-family: var(--sans);
	overflow-x: hidden;
}

[data-id=CitadelPostGameScoreboard]::after {
	content: "";
	display: block;
	width: inherit;
	height: inherit;
	max-height: 700px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100px);
	background-image: url("../images/post_game/patron_bg_psd.png");
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.6;
	pointer-events: none;
	z-index: -1;
}

[data-id=CitadelPostGameScoreboard].Team1Victory {
	& [data-id=Team2TitleContainer] {
		& .VictoryLabel {
			align-self: end;
		}

		& .nameContainer {
			align-self: end;
		}
	}
}

[data-id=CitadelPostGameScoreboard].Team2Victory {
	& [data-id=Team1TitleContainer] {
		& .VictoryLabel {
			align-self: end;
		}

		& .nameContainer {
			align-self: end;
		}
	}
}

[data-id=CitadelPostGameScoreboard].Team1Victory {
	background: linear-gradient(135deg, color-mix(in srgb, var(--team1Color), black 65%), color-mix(in srgb, #333, transparent 65%) );
}

[data-id=CitadelPostGameScoreboard].Team2Victory {
	background: linear-gradient(135deg, color-mix(in srgb, var(--team2Color), black 65%), color-mix(in srgb, #333, transparent 65%) );
}

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2rem;
	gap: 1rem;
	min-height: 80px;
	background: color-mix(in srgb, var(--offBlack), transparent 63%);
	color: color-mix(in srgb, var(--offWhite) 20%, transparent);

	& h1,
	& h2 {
		font-size: 1rem;
		font-weight: 600;
	}

	& h1 {
		text-transform: uppercase;
		text-align: right;
	}
}

[data-id=GoldAndTimeContainer] {
	display: flex;
	justify-content: center;
}

.Team2Victory [data-id=GoldAndTimeContainer] {
	flex-direction: row-reverse;
}

.TimeContainer {
	margin: 0px 5px;
}

.TimeContainer span {
	display: inline-block;
	font-size: 18px;
	font-family: var(--sansMono);
	font-weight: 600;
	padding: 1px 20px;
	background-color: var(--offBlack);
}

.titleContainer {
	display: flex;
	flex-direction: column-reverse;
	min-height: 110px;
	padding-inline: 0.5rem;
}

.nameContainer {
	display: flex;
	flex-direction: row-reverse;
	align-self: flex-start;

	&::before,
	&::after {
		content: "";
		display: inline-block;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		margin-block: 6px;
	}

	& span {
		margin-inline: 10px;
	}
}

.Team1Victory [data-id=Team1TitleContainer] .nameContainer::before { display: none }
.Team1Victory [data-id=Team2TitleContainer] .nameContainer::after { display: none }
.Team2Victory [data-id=Team1TitleContainer] .nameContainer::after { display: none }
.Team2Victory [data-id=Team2TitleContainer] .nameContainer::before { display: none }

[data-id=Team1TitleContainer] .nameContainer::before,
[data-id=Team1TitleContainer] .nameContainer::after { background: var(--team1Color) }
[data-id=Team2TitleContainer] .nameContainer::before,
[data-id=Team2TitleContainer] .nameContainer::after { background: var(--team2Color) }

.TeamName {
	font-family: var(--serif);
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 600;
}

[data-id=Team1TitleContainer] .TeamName {
	color: var(--team1Color);
	vertical-align: top;
}

[data-id=Team2TitleContainer] .TeamName {
	color: var(--team2Color);
	vertical-align: top;
}

[data-id=Team1TitleContainer],
.Team2Victory [data-id=Team2TitleContainer] {
	animation-name: teamName_move_in_left;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

@keyframes teamName_move_in_left {
	0%
	{
		transform: translateX(-500px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
	
}

[data-id=Team2TitleContainer],
.Team2Victory [data-id=Team1TitleContainer] {
	animation-name: teamName_move_in_right;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

@keyframes teamName_move_in_right {
	0%
	{
		transform: translateX(500px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
	
}

[data-id=HeroImage] {
	height: 150px;
	width: 111px;
	horizontal-align: center;
	vertical-align: bottom;
	border-bottom: 5px solid color-mix(in srgb, var(--offWhite) 75%, transparent);
	object-fit: cover;
}

.localplayer [data-id=HeroImage] {
	background: linear-gradient(to top, color-mix(in srgb, var(--offWhite) 7%, transparent ), transparent );
}

[data-id=Team1Players] [data-id=HeroImage] {
	border-bottom: 5px solid color-mix(in srgb, var(--team1Color) 75%, transparent);
}

[data-id=Team2Players] [data-id=HeroImage] {
	border-bottom: 5px solid color-mix(in srgb, var(--team2Color) 75%, transparent);
}

.PlayersContainer {
	display: flex;
	justify-content: center;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
}

@keyframes players_move_in {
	0%
	{
		transform: translateY(500px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateY(0px);
		opacity: 1;
	}
	
}

.Team1Victory .PlayersContainer {
	flex-wrap: wrap;
}

.Team2Victory .PlayersContainer {
	flex-wrap: wrap-reverse;
}

.TeamPlayersContainer {
	display: flex;
	flex-direction: column;
	align-self: end;

	& .players {
		display: flex;
		flex-direction: row;
		max-width: 100vw;

		& .scroller {
			display: flex;
			flex-direction: row;
			overflow-x: scroll;
			padding-inline: 1rem;
			scroll-padding-inline: 1rem;
			scroll-snap-type: x mandatory;

			& > * {
				scroll-snap-align: start;
			}
		}
	}
}

.PlayerStatsContainer {
	width: 100%;
	margin-top: 10px;
	padding: 0px 0px;
	position: relative;
}

.localplayer .PlayerStatsContainer {
	background-color: offWhite&30;
}

[data-id=StatsTypeContainer] {
	align-self: end;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px 0px;
	width: 180px;
	vertical-align: bottom;
	text-transform: uppercase;
}


.Team1Victory [data-id=Team1Players] [data-id=StatsTypeContainer],
.Team2Victory [data-id=Team2Players] [data-id=StatsTypeContainer] {
	order: 1;
}

[data-id=CitadelPostGameScoreboard] .PlayerStatsContainer:hover [data-id=StatsTypeContainer] {
	margin-bottom: 20px;
}

[data-id=StatsTypeContainer] span {
	color: color-mix(in srgb, var(--offWhite) 20%, transparent);
	letter-spacing: 1px;
	font-size: 17px;
	margin: 8px 0px;
}

.SoulsStatLabel {
	margin-top: 30px;
}

[data-id=StatsTypeContainer],
.PlayerStatsContainer {
	display: flex;
	flex-direction: column;
}

[data-id=StatsTypeContainer] span,
[data-id=PlayerName] {
	text-align: center;
	font-weight: 600;
	width: inherit;
}

[data-id=PlayerName] {
	& a,
	& span {
		display: inline-block;
		width: inherit;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: inherit;
	}
}

.PlayerStatsContainer > div {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.PlayerStatsContainer > div:nth-child(2n) {
	background-color: #00000050;
}

[data-id=Networth].playerAward {
	background: linear-gradient(to left, color-mix(in srgb, var(--shardColor) 50%, transparent) 50%, transparent );
}

[data-id=PlayerDamage].playerAward {
	background: linear-gradient(to left, #2972FF40 50%, transparent);
}

[data-id=Kills].playerAward {
	background: linear-gradient(to left, #FF5D5D40 50%, transparent);
}

[data-id=ObjDamage].playerAward {
	background: linear-gradient(to left, #E4A83340 50%, transparent);
}

[data-id=Assists].playerAward {
	background: linear-gradient(to left, #A230CA40 50%, transparent);
}

[data-id=Healing].playerAward {
	background: linear-gradient(to left, #AEF02240 50%, transparent);
}

.PlayerStatsContainer span {
	display: block;
	margin: 8px 0px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 17px;
}

.playerAward span {
	font-weight: 600;
}

[data-id=StatsTypeContainer] span.StatsLabel.Title {
	color: var(--offWhite);
	padding-bottom: 10px;
}

.PlayerSnippet {
	width: 105px;
	margin-left: 5px;
	margin-right: 5px;
	flex-shrink: 0;
}

.PlayerSnippet.Selected {
	filter: brightness(2);
}

[data-id=NameBarGraphs] {
	width: 100%;
	flow-children: down;
	background-color: color-mix(in srgb, var(--offWhite), transparent 80%);
	padding: 15px 5px 25px 5px;
}

[data-id=Team1Players] [data-id=NameBarGraphs],
[data-id=Team1Players] .PlayerStatsContainer {
	background-color: color-mix(in srgb, var(--team1Color) 35%, transparent);
}

[data-id=Team2Players] [data-id=NameBarGraphs],
[data-id=Team2Players] .PlayerStatsContainer {
	background-color: color-mix(in srgb, var(--team2Color) 35%, transparent);
}

[data-id=ModBarGraph] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px 15px;
}

.VictoryLabel {
	font-size: 60px;
	font-weight: 600;
	font-family: var(--serif);
	font-style: italic;
	color: var(--offWhite);
}

[data-id=SwitchPage] {
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: bottom;
	margin-block: 2rem;

	& button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		opacity: 0.3;
		cursor: pointer;
	}
}

[data-id=SwitchPage] span {
	font-size: 18px;
	color: var(--offWhite);
	text-transform: uppercase;
	padding: 8px 0px 12px 0px;
}

[data-id=GraphIcon] {
	width: 20px;
	height: 20px;
	horizontal-align: center;
	background-image: url("../images/icons/icon_graph.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
}

[data-id=NavArrow] {
	width: 20px;
	height: 10px;
	opacity: 0.8;
	horizontal-align: center;
	background-image: url("../images/icons/icon_carat.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

[data-id=SwitchPage] button:hover {
	opacity: 0.8;
}

.TeamNetworth {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 140px;
	height: 70px;
	mask-image: url("../images/hud/teamscore_souls_backer_l.svg");
	mask-size: contain;
	mask-repeat: no-repeat;
}

[data-id=Team1Networth] {
	background-color: color-mix(in srgb, var(--team1Color) 40%, transparent);
}

[data-id=Team2Networth] {
	background-color: color-mix(in srgb, var(--team2Color) 40%, transparent);
}

.Team1Victory [data-id=Team2Networth],
.Team2Victory [data-id=Team1Networth] {
	transform: scaleX(-1);

	& > * {
		transform: scaleX(-1);
	}
}

.SoulsValueContainer {
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -3px;
}

.ScoreContainer {
	display: flex;
	width: inherit;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.TotalSoulsLabel {
	font-size: 10px;
	font-weight: 500;
	color: #FFFFFF44;
	horizontal-align: center;
	visibility: collapse;
}

.ScoreLabel {
	font-size: 22px;
	font-weight: 600;
	font-family: var(--serif);

	&::before,
	&::after {
		content: "";
		margin-inline: 4px;
		display: inline-block;
		width: 15px;
		height: 20px;
		opacity: 0.3;
		mask-repeat: no-repeat;
		mask-image: url("../images/hud/core/icon_soul.svg");
		mask-size: 100%;
		vertical-align: middle;
	}

	&::after {
		transform: scaleX(-1);
	}
}

[data-id=Team1Networth] .ScoreLabel {
	color: var(--team1ColorBright);

	&::before,
	&::after {
		background-color: var(--team1ColorBright);
	}
}

[data-id=Team2Networth] .ScoreLabel {
	color: var(--team2ColorBright);

	&::before,
	&::after {
		background-color: var(--team2ColorBright);
	}
}

.Team1Victory [data-id=Team2Networth] .ScoreLabel::before,
.Team1Victory [data-id=Team1Networth] .ScoreLabel::after,
.Team2Victory [data-id=Team1Networth] .ScoreLabel::before,
.Team2Victory [data-id=Team2Networth] .ScoreLabel::after {
	display: none;
}

.playerAward {
	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: 0;
		width: 35px;
		height: 35px;
		mask-size: contain;
		background-size: contain;
		transform: translateX(15px);
		z-index: 1;
	}

	&::after {
		mix-blend-mode: multiply;
	}
}

[data-id=Kills].playerAward {
	&::before {
		background-image: url("../images/post_game/stat_kills_png.png");
	}

	&::after {
		mask-image: url("../images/post_game/stat_kills_png.png");
		background-color: #FF5D5D;
	}
}

[data-id=ObjDamage].playerAward {
	&::before {
		background-image: url("../images/post_game/stat_objective_damage_png.png");
	}

	&::after {
		mask-image: url("../images/post_game/stat_objective_damage_png.png");
		background-color: #E4A833;
	}
}

[data-id=Healing].playerAward {
	&::before {
		background-image: url("../images/post_game/stat_healing_png.png");
	}

	&::after {
		mask-image: url("../images/post_game/stat_healing_png.png");
		background-color: #AEF022;
	}
}

[data-id=Networth].playerAward {
	&::before {
		background-image: url("../images/post_game/stat_souls_png.png");
	}

	&::after {
		mask-image: url("../images/post_game/stat_souls_png.png");
		background-color: var(--shardColor);
	}
}

[data-id=Assists].playerAward {
	&::before {
		background-image: url("../images/post_game/stat_assists_png.png");
	}

	&::after {
		mask-image: url("../images/post_game/stat_assists_png.png");
		background-color: #A230CA;
	}
}

[data-id=PlayerDamage].playerAward {
	&::before {
		background-image: url("../images/post_game/stat_hero_damage_png.png");
	}

	&::after {
		mask-image: url("../images/post_game/stat_hero_damage_png.png");
		background-color: #2972FF;
	}
}

[data-id=ModBarGraph] progress {
	width: 100%;
	height: 6px;
	margin: 1px 0;
}

[data-id=WeaponProgressBar]::-webkit-progress-value	{ background: linear-gradient(to right, var(--courageBrightColor), var(--courageLightColor)) }
[data-id=WeaponProgressBar]::-moz-progress-bar		{ background: linear-gradient(to right, var(--courageBrightColor), var(--courageLightColor)) }
[data-id=ArmorProgressBar]::-webkit-progress-value	{ background: linear-gradient(to right, var(--fortitudeBrightColor), var(--fortitudeLightColor)) }
[data-id=ArmorProgressBar]::-moz-progress-bar		{ background: linear-gradient(to right, var(--fortitudeBrightColor), var(--fortitudeLightColor)) }
[data-id=TechProgressBar]::-webkit-progress-value	{ background: linear-gradient(to right, var(--spiritBrightColor), var(--spiritLightColor)) }
[data-id=TechProgressBar]::-moz-progress-bar		{ background: linear-gradient(to right, var(--spiritBrightColor), var(--spiritLightColor)) }

@media screen and (min-width: 1700px) {
	.Team2Victory .PlayersContainer {
		flex-direction: row-reverse;
	}
}

@media screen and (max-width: 1700px) {
	[data-id=StatsTypeContainer] {
		display: none;
	}
	[data-id=StatsTypeContainer].hidden {
		display: flex !important;
		width: 140px;
	}
}

@media screen and (max-width: 900px) {
	.scroller {
		mask-image: linear-gradient(to right, transparent 2%, #000 5%, #000, #000 95%, transparent 98%);
	}
}
